<div class="about" id="about" #about>
  <div class="about__details">
    <h1 class="about__title">{{title}}</h1>
    <h2><span class="gray"> About me </span>/ Acerca de mí</h2>
    <p class="about__paragraph">{{paragraph}}</p>
    <!-- <a href="https://docs.google.com/document/d/18CJ66UeT3SOSazgvb7G_e39crXcQbi-2/edit?usp=sharing&ouid=106696477638908142346&rtpof=true&sd=true">
     <button class="btn-primary btn--color">CURRICULO</button>

     <div class="d-flex justify-content-center">

     
     < <button class="btn btn-secondary btn-lg"><img src="../../../assets/img/cv.svg" id="linkedin"></button>

      <button class="btn btn-light btn-lg"> <h2> CV </h2> <i class="	fa fa-2x  fa-address-card" aria-hidden="true"></i> </button> 

   
   

    </div>
    </a>

     -->
  </div>
  <img class="about__img" src="assets/img/profilePicture.jpg" alt="perfil">
</div>



<div id="fondo_blanco">
<div class="row" id="fondo_blanco">
 
  <h2 ><span class="gray"> Education </span>/ Educación</h2>
  
  <div class="col-lg-1" id="fondo_blanco"></div>
  
  <div class="col-lg-11">



      <div class="row" id="fondo_blanco">


          <div class="col-lg-1" id="fondo_blanco">
              <img src="https://i.ibb.co/B6t7z2T/logo-utn-sf.jpg" class="img-fluid" id="logoutn">
          </div>
  
          <div class="col-lg-9" id="fondo_blanco">
          <ul>
              <li><h4 class=> PhD in Industrial Engineering / Doctor en Ingenieria Mención Industrial </h4> 
              <h5> 2013-2019 </h5></li>
              <p >
                  Universidad Tecnológica Nacional. Facultad Regional Santa Fe. Argentina
                                 
              </p>
          </ul>
          </div>



      </div>




      <div class="row" id="fondo_blanco">


          <div class="col-lg-1" id="fondo_blanco">
              <img src="https://i.ibb.co/tm5gNch/utn-parana2.jpg" class="img-fluid" id="logoutn">
          </div>
  
          <div class="col-lg-9" id="fondo_blanco">
          <ul>
              <li><h4 > Electro-mechanical Engineer / Ingeniero Electromecánico </h4> 
              <h5> 2005-2011 </h5></li>
              <p >
                  Universidad Tecnológica Nacional Facultad Regional Paraná. Argentina


                  
              </p>
          </ul>
          </div>



      </div>





      <div class="row" id="fondo_blanco">


          <div class="col-lg-1" id="fondo_blanco">
              <img src="https://i.ibb.co/gjS1ckJ/colegio-don-bosco.jpg" class="img-fluid" id="logoutn">
          </div>
  
          <div class="col-lg-9"id="fondo_blanco">
          <ul>
              <li><h4 > Bachelor of Commerce / Bachiller Mercantil </h4> 
              <h5> 1999-2004 </h5></li>
              <p >
                  Instituto Dr. Enrique Carbó  D-40 (Obra de Don Bosco), Paraná. Argentina

                  
              </p>
          </ul>
          </div>



      </div>






  </div>

</div>

</div>










<div >
  <div class="row" >
   
    <h2 class="text-light"><span class="gray"> Work experience </span>/ Experiencia laboral</h2>
    
    <div class="col-lg-1" ></div>
    
    <div class="col-lg-11">
  
  
  
        <div class="row" >
  
  
            <div class="col-lg-1" >
                <img src="https://i.ibb.co/5kCVrfj/ingar.png" class="img-fluid" id="logoutn">
            </div>
    
            <div class="col-lg-9" >
            <ul>
                <li><h4 class="text-light"> Research / Investigador </h4> 
                <h5> 2022- Current (Actualidad) </h5></li>
                <p class="text-light">
                  National Scientific and Technical Research Council (CONICET) /
                  Consejo Nacional de Investigaciones Científicas y Técnicas (CONICET)

                  - 

                  
                  Instituto de Desarrollo y Diseño (INGAR).  Avellaneda 3657
                  Ciudad de Santa Fe (CP 3000). Argentina
                  
                   
                    
                </p>

              

                <a href="http://www.ingar.santafe-conicet.gov.ar/"><button type="button" class="btn btn-light">Visit</button></a>
            </ul>
            </div>
  
  
  
        </div>




        <div class="row" >
  
  
          <div class="col-lg-1" >
              <img src="https://i.ibb.co/5kCVrfj/ingar.png" class="img-fluid" id="logoutn">
          </div>
  
          <div class="col-lg-9" >
          <ul>
              <li><h4 class="text-light"> Post-doctoral fellow / Becario Post-doctoral </h4> 
              <h5> 2019-2022 </h5></li>
              <p class="text-light">
                National Scientific and Technical Research Council (CONICET) /
                Consejo Nacional de Investigaciones Científicas y Técnicas (CONICET)

                - 

                
                Instituto de Desarrollo y Diseño (INGAR).  Avellaneda 3657
                Ciudad de Santa Fe (CP 3000). Argentina
                
                 
                  
              </p>

            

              <a href="http://www.ingar.santafe-conicet.gov.ar/"><button type="button" class="btn btn-light">Visit</button></a>
          </ul>
          </div>



      </div>





        <div class="row" >
  
  
          <div class="col-lg-1" >
              <img src="https://i.ibb.co/bQg01CZ/castellaro.jpg" class="img-fluid" id="logoutn">
          </div>
  
          <div class="col-lg-9" >
          <ul>
              <li><h4 class="text-light"> Process Manager / Responsable de Procesos </h4> 
              <h5> 2018-2019  </h5></li>
              <p class="text-light">
                CASTELLARO S.A.

                - 

                
                Gral. Galán 1332 - Paraná. Argentina
                
                 
                  
              </p>

            

              <a href="https://castellaroautomotores.com.ar/inicio/"><button type="button" class="btn btn-light">Visit</button></a>
          </ul>
          </div>



      </div>


      <div class="row" >
  
  
        <div class="col-lg-1" >
            <img src="https://i.ibb.co/5kCVrfj/ingar.png" class="img-fluid" id="logoutn">
        </div>

        <div class="col-lg-9" >
        <ul>
            <li><h4 class="text-light"> PhD fellow / Becario doctoral </h4> 
            <h5> 2013-2018 </h5></li>
            <p class="text-light">
              National Scientific and Technical Research Council (CONICET) /
              Consejo Nacional de Investigaciones Científicas y Técnicas (CONICET)

              - 

              
              Instituto de Desarrollo y Diseño (INGAR).  Avellaneda 3657
              Ciudad de Santa Fe (CP 3000). Argentina
              
               
                
            </p>

          

            <a href="http://www.ingar.santafe-conicet.gov.ar/"><button type="button" class="btn btn-light">Visit</button></a>
        </ul>
        </div>



    </div>


    <div class="row" >
  
  
      <div class="col-lg-1" >
          <img src="https://i.ibb.co/dmfDJfs/johnson-logo.png" class="img-fluid" id="logoutn">
      </div>

      <div class="col-lg-9" >
      <ul>
          <li><h4 class="text-light"> Production manager / Responsable de producción </h4> 
          <h5> 2011-2013 </h5></li>
          <p class="text-light">
           Johson Acero S.A.
            - 

            
            Av. Almafuerte 3658, E3100 Paraná, Entre Ríos. Argentina
            
             
              
          </p>

        

          <a href="https://www.johnsonacero.com/"><button type="button" class="btn btn-light">Visit</button></a>
      </ul>
      </div>



  </div>
  
  
  
  
      
  
  
  
  
  
  
  
    </div>
  
  </div>
  
  </div>






