#fondo_blanco{
  background-color: rgb(250, 250, 250);
}


@import "mixins";
@import "variables";

.about {
  height: 100vh;
  @include flex-container(row);
  background-color: #316bb3;

  &__details {
    flex-basis: 50%;
    color: $white;
  }

  &__title {
    color: $white;
    font-size: $font-size-h1;
  }

  &__paragraph {
    color: $white;
    font-size: $paragraph;
    margin-bottom: 4px;
  }

  &__img {
    border-radius: 50%;
    height: auto;
    max-width: 250px;
    box-shadow: 10px -10px $box-shadow;
    transition: 1s ease-in;
  }
}

@include mq(sm, max){
  .about {
    &__img {
      max-width: 160px;
      transition: 1s ease;
    }

    &__details {
      flex-basis: 90%;
      @include flex-container(column);
    }
  }
}



.row {
    padding: 20px;

} 

div {background: #316bb3;}




h1, h3 {
    display: inline;
}




@media (min-width: 992px) {
    #logoutn {
        
        width: 300%;
        border-radius: 100%;
        box-shadow: 5px 5px 5px grey;
        left: 3%;
        top: 300px;
    }
}


@media  (max-width: 991px) and (min-width: 576px)  {
    
    #logoutn {
        
        width: 100%;
        border-radius: 80%;
        box-shadow: 5px 5px 5px grey;
        left: 3%;
        top: 300px;
    }

}




@media (max-width: 575px) {
    #logoutn {
        
        width: 50%;
        border-radius: 80%;
        box-shadow: 5px 5px 5px grey;
        left: 33%;
        top: 600px;
    }



   



}




