
<section class="portfolio" id="portfolio">


  

  <div id="fondo_azul">
  <div >


    <div class="centrado">

     
    

 <h2 class="text-light "><span class="gray">  <img src="assets/img/Scientific_journal_icon.svg " width="90" > Referred Articles </span>/ Artículos publicados</h2>
  </div>
  
  </div>
  <div class="underline"></div>
  <div class="container" >
    <div class="grid"  [@scrollAnimation]="state">
     

    

      
    </div>
  </div>




  <ul class="list" [@scrollAnimation]="state">
    <li  *ngFor="let paper of papers">
 




  <div class="row" >
  
  
    <div class="col-lg-1" >
        <img src="{{paper.img}}" class="img-fluid" id="logo">
    </div>

  

    <div class="col-lg-9 col-xl-9" >


      <div class="justify">
   
       <p class="text-light"> {{paper.ref}} </p> 

       
      </div>
       
       

       <div class="margin-botton">
     
     

        <a href="{{paper.link}}"><button type="button" class="btn btn-light -lg"  >See more / Ver más</button></a>
    
    </div>

  </div>

</div>

</li>
</ul>
</div>






<div id="fondo_blanco">
  <div  class="centrado">
    

    <h2 class="" id="fondo_blanco"><span class="gray">  <img src="assets/img/book-icon.svg " width="40"  > Books </span>/ Libros</h2>
  </div>
  <div class="underline"></div>
  <div class="container" >
    <div class="grid"  [@scrollAnimation]="state">
     

    

      
    </div>
  </div>




  <ul class="list" [@scrollAnimation]="state" id="fondo_blanco">
    <li  *ngFor="let book of books">
 




  <div class="row" id="fondo_blanco">
  
  
    <div class=" col-lg-2 col-xl-2" id="fondo_blanco">
        <img src="{{book.img}}" class="img-fluid" id="logo">
    </div>

  

    <div class=" col-lg-10 col-xl-10" id="fondo_blanco" >


      <div class="justify" id="fondo_blanco">
   
       <p class="col-10 col-lg-10 col-xl-10"> {{book.ref}} </p> 

       
      </div>
       
       

       <div class="margin-botton-book" id="fondo_blanco">
     
     

        <a href="{{book.link}}"><button type="button" class="btn btn-secondary"  >See more / Ver más</button></a>
    
    </div>

  </div>

</div>

</li>
</ul>
</div>










<div id="fondo_azul">
  <div  class="centrado" [@scrollAnimation]="state">
    

    <h2 class="text-light"><span class="gray">  <img src="assets/img/conference.svg " width="150"  > Conference Papers </span>/ Trabajos en Congresos y Simposios</h2>
  </div>
  <div class="underline"></div>
  <div class="container" >
    <div class="grid"  [@scrollAnimation]="state">
     

    

      
    </div>
  </div>




  <ul class="list" [@scrollAnimation]="state">
    <li  *ngFor="let congreso of congresos">
 




  <div class="row" >
  
  
    <div class="col-lg-1" >
        <img src="{{congreso.img}}" class="img-fluid" id="logo">
    </div>

  

    <div class="col-lg-9" >


      <div class="justify">
   
       <p class="text-light"> {{congreso.ref}} </p> 

       
      </div>
       
       

       <div class="margin-botton">
     
     

        <a href="{{congreso.link}}"><button type="button" class="btn btn-light -lg"  >See more / Ver más</button></a>
    
    </div>

  </div>

</div>

</li>
</ul>


</div>














</section>