
.row {
  padding: 20px;

} 

div {background: #316bb3;}




h1, h3 {
  display: inline;
}




@media (min-width: 992px) {
  #logo {
      
      width: 100%;
      border-radius: 10%;
      box-shadow: 5px 5px 5px grey;
      left: 3%;
      top: 300px;
  }
}


@media  (max-width: 991px) and (min-width: 576px)  {
  
  #logo {
      
      width: 20%;
      border-radius: 10%;
      box-shadow: 5px 5px 5px grey;
      left: 3%;
      top: 300px;
  }

}




@media (max-width: 575px) {
  #logo {
      
    width: 40%;
      border-radius: 10%;
      box-shadow: 5px 5px 5px grey;
      left: 33%;
      top: 600px;
  }
}







.centrado {
  text-align: center;

} 



#fondo_blanco {
      
  background-color: white;
}


.justify {
  text-align: justify;
  
}

