<section class="portfolio" id="portfolio" >
  <div class="portfolio__heading" [@scrollAnimation]="state">
    <h2 class="portfolio__title">Works & Projects / Trabajos y Proyectos</h2>
  </div>
  <div class="underline"></div>
  <div class="container" >
    <div class="grid"  [@scrollAnimation]="state">
     

    

      
    </div>
  </div>




  <ul class="list" [@scrollAnimation]="state">
    <li  *ngFor="let paper of papers">
 




  <div class="row" >
  
  
    <div class="col-lg-1" >
        <img src="{{paper.img}}" class="img-fluid" id="logoutn">
    </div>

    <div class="col-lg-9" >
   
       <p class="text-light"> {{paper.ref}} </p> 
       
     

      

        <a href="{{paper.link}}"><button type="button" class="btn btn-light">Explore / Explorar</button></a>
    
    </div>



</div>



</li>

</ul>











</section>